services:
  web:
    image: web
    build:
      context: ./web
      dockerfile: Dockerfile-dev
    container_name: web
    command: npm run dev
    ports:
      - "80:3000"
    environment:
      - PORT=3000
      - CHOKIDAR_USEPOLLING=true
      - NODE_ENV=development
    restart: unless-stopped
    volumes:
      - ./web/src:/app/src
    networks:
      - internal_network
  api:
    image: api
    build:
      context: ./api
      dockerfile: Dockerfile-dev
    container_name: api
    command: npm run dev
    restart: unless-stopped
    ports:
      - 3001:3001
    environment:
      - PORT=3001
    volumes:
      - ./api/src:/app/src
    networks:
      - internal_network

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./web/nginx/nginx-dev.conf:/etc/nginx/conf.d/nginx.conf
    depends_on:
      - web
    networks:
      - internal_network

networks:
  internal_network:
    driver: bridge
