services:
  web:
    image: web
    build:
      context: ./web
      dockerfile: Dockerfile-prod
    container_name: web
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    restart: always
    stdin_open: true
    tty: true
    networks:
      - internal_network

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./web/nginx/nginx.conf:/etc/nginx/conf.d/nginx.conf
    depends_on:
      - web
    networks:
      - internal_network

networks:
  internal_network:
    driver: bridge
